= form_for(@initiative, html: {:role => "form",:multipart => true}) do |f|
  - if @initiative.errors.any?
    #error_explanation
      %h2
        = pluralize(@initiative.errors.count, "error")
        prohibited this initiative from being saved:
      %ul
        - @initiative.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      = f.hidden_field :sector_id
      = f.hidden_field :user_id, :value => current_user.id
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :image
        = f.file_field :image, class: 'form-control'
      .form-group
        = f.label :region_id
        = f.select(:region_id,@regions, {}, {class: 'form-control'})
      .form-group
        = label_tag :tags
        = text_field_tag :tags, nil, {class: 'form-control',data:{role:'tagsinput'}}
      .actions
        = f.submit 'Create', class: 'btn btn-default'