%html{lang: "ar"}
= form_for(@initiative, html: {:role => "form",:multipart => true}) do |f|
  - if @initiative.errors.any?
    #error_explanation
      %h2
        = pluralize(@initiative.errors.count, "error")
        prohibited this initiative from being saved:
      %ul
        - @initiative.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-5
    .col-md-6.green-font.text-right
      = f.hidden_field :sector_id
      = f.hidden_field :user_id, :value => current_user.id
      .form-group.green-border
        = f.label :"عنوان المبادرة"
        %br
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :"تفاصيل المبادرة"
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :"صورة المبادرة"
        = f.file_field :image, class: 'form-control'
      .form-group
        = f.label :"المحافظة"
        = f.select(:region_id,@regions, {}, {class: 'form-control text-right'})
      .form-group
        = label_tag :"التصنيفات"
        %br
        = text_field_tag :tags, nil, {class: 'form-control',data:{role:'tagsinput'}}
      .actions
        = f.submit 'انشئ المبادرة', class: 'btn btn-default form-btn'