%html{dir: "rtl", lang: "ar"}
%p#notice= notice
%p
  %strong Title:
  = @initiative.title
%p
  %strong Description:
  = @initiative.description
%p
  %strong Image:
  = image_tag @initiative.image.url
%p
  %strong Sector:
  = @initiative.sector.name
%p
  %strong Region:
  = @initiative.region.name
%p
  %strong User:
  = @initiative.user.name
= link_to 'Edit', edit_initiative_path(@initiative)
|
\#{link_to 'Back', initiatives_path}
%br/
مناقشة المبادرة
%br/
%form{action: "/comments/create"}
  %textarea{name: "content"}
  %br/
  %input{type: "submit", value: "ارسل"}/
- @comments.each do |comment|
  %div
    %span= comment.content
    %span= comment.created_at
