%html{dir: "rtl", lang: "ar"}
%p#notice= notice
%p
  %strong Title:
  = @initiative.title
%p
  %strong Description:
  = @initiative.description
%p
  %strong Image:
  = image_tag @initiative.image.url
%p
  %strong Sector:
  = @initiative.sector.name
%p
  %strong Region:
  = @initiative.region.name
%p
  %strong User:
  = @initiative.user.name
= link_to 'Edit', edit_initiative_path(@initiative)
|
\#{link_to 'Back', initiatives_path}
%form{method: "get"}
  %input{name: "user_id", type: "hidden", value: "1"}/
  = @status
  = button_to "support"
%br/
مناقشة المبادرة
%br/
%form{action: "/comments/create"}
  %textarea{name: "content"}
  %br/
  %input{type: "submit", value: "ارسل"}/
- @comments.each do |comment|
  %div
    %span= comment.content
    %span= comment.created_at
- count =1
- @updates.each do |update|
  %table{align: "center", bgcolor: "white", border: "8", hight: "152", width: "652"}
    %tr
      %td
        %span تحديث #
        = count
    %tr
      %td= update.action
    - count +=1
