%html{lang: "ar"}
  %body
    %div
      / //-----------Main Content Area ---------//
      .row
        .col-md-12
          .wrapper
            .row.bottom-bordered
              .col-md-3
                .title-font.gray-text 45 يوم متبقى
                .md-title.green-font 45 يوم متبقى
                .light-green-font 45 يوم متبقى
                .progress
                  .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
                    %span.sr-only 40% Complete (success)
                .inner_menu
                  .main_title.small-text تصويت الحالى
                .poll-results
                  .green-font
                    هل توافق على التصويت الحالى ؟
                  %form{action: ""}
                    موافق
                    %input{name: "answer", type: "radio", value: "yes"}/
                    %br/
                    غير موافق
                    %input{name: "answer", type: "radio", value: "no"}/
                    %br
                    %input.btn.btn-size{type: "submit", value: "تصويت"}
              
              .col-md-9
                .cause-wrapper
                  .row.cause-wrapper-row
                    .col-md-12.cause-wrapper-header
                      .row
                        .col-md-3
                          %button.btn.red-btn{type: "button"}
                            إدعم المبادرة
                        .col-md-6
                          .cause-wrapper-title.green-font
                            = @initiative.title
                          .cause-wrapper-sub-title
                            
                            
                            مبادرة فى
                            %span.green-font 
                              #{link_to(@initiative.sector.name, {:controller => 'initiatives' ,:action => "list", :searchSector => @initiative.sector})}
                            \- بمحافظة
                            %span.green-font 
                              #{link_to(@initiative.region.name, {:controller => 'initiatives' ,:action => "list", :searchSector => @initiative.region})}

                                                          
                        .col-md-3
                          .cause-wrapper-img
                            = image_tag @initiative.image.url 
                          
                      .row
                        .col-md-12
                          .social-media-sharing
                    .row.cause-wrapper-paragraph
                      .col-md-12
                        .green-font تفاصيل المبادرة
                        .cause-wrapper-details.gray-text
                          = @initiative.description
                    .row.cause-wrapper-paragraph
                      .col-md-12
                        .green-font التصنيفات
                        .cause-wrapper-details.gray-text.green-font                             
                          - for tag in @initiative.tags
                            = link_to(tag.name)
                          

                          
            %br/
            .row
              .col-md-3
              .col-md-9
                .inner_menu
                  .main_title مناقشة المبادرة
                %form{action: "/comments/create"}
                  .send-comment
                    %textarea.form-control{cols: "30", name: "content", rows: "6"}
                    %input{name: "initiative_id", type: "hidden", value: @initiative.id }/
                    %input.btn.green-btn{type: "submit", value: "ارسل"}/
                - @comments.each do |comment|
                  .cause_discussion_block
                    .row
                      .col-md-1
                        %span.cause_discussion_time
                          = comment.created_at
                      .col-md-9
                        %span.cause_discussion_paragraph
                          = comment.content
                      .col-md-2
                        .cause_discussion_img
                          %img/

%form{method: "get"}
  %input{name: "user_id", type: "hidden", value: "1"}/
  = @status
  = button_to "support"


- count =1
- @updates.each do |update|
  %table{align: "center", bgcolor: "white", border: "8", hight: "152", width: "652"}
    %tr
      %td
        %span تحديث #
        = count
    %tr
      %td= update.action
    - count +=1
= @time