<html lang="ar">
<div >
  <%= form_for(@poll) do |f| %>
    <% if @poll.errors.any? %>
      <div >
        <h2>
          <%= pluralize(@poll.errors.count, "error") %>
          prohibited this poll from being saved:
        </h2>
        <ul>
          <% @poll.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
<div>
      <%title_id_arr =[]%>
      <%initiatives_arr= []%>

      <%@initiatives.each do |initiative|%>
          
         <%title_id_arr = [initiative.title, initiative.id]%>
         <%initiatives_arr.push(title_id_arr)%> 
          
      <%end%>
      <br>
     عمل تصويت لمبادرة
     <br>
      <%=  f.select(:initiative_id, initiatives_arr.map { |title, id| [ title, id ] })%>
      <br>
      <br>

      <%= f.label :name ,"إسم التصويت" %>

      <br/>
      <%= f.text_field :name %>
    
    <div>
      <%= f.fields_for :questions do |builder| %>
        <%= render 'questions_fields', :f => builder %>
      <% end %>
    </div>
    <div>
      <%= f.submit "تسجيل الأسئلة" %>
      
    </div>
  <% end %>
</div>

</div>
</html>