= form_for(@poll) do |f|
  - if @poll.errors.any?
    %h2
      = pluralize(@poll.errors.count, "error")
      prohibited this poll from being saved:
    %ul
      - @poll.errors.full_messages.each do |msg|
        %li= message
  .row
    .form-group
      = f.hidden_field :initiative_id, :value => @initiative_id
    .form-group.green-border.col-md-12
      .col-md-3
      .col-md-6
        = f.text_field :name, class: 'form-control'
      .col-md-3.title-font.green-font
        = f.label :name ,"إسم التصويت"

    = f.fields_for :questions do |builder|
      = render 'questions_fields', :f => builder
      .input.btn.green-btn
        = f.submit "تسجيل الأسئلة"
