/ //-----------Main Content Area ---------//
/ //-----------flowchart---------//
%html
  %body
    %div
      .row.flowchart
        .col-md-1
        .col-md-10.main_flowchart
          .flowchart_container
            .flowchart_component
              %img.flowchart_img=image_tag "part.png"
              %span.flowchart_title شارك
              %span.flowchart_brief فى نهضة البلد و تابع نتائج البرزات المقدمه المشكلة كلها هنا  يامعلم
            .flowchart_arrow
              %img=image_tag "arrow.png"
            .flowchart_component
              %img.flowchart_img=image_tag "comm.png"
              %span.flowchart_title تواصل
              %span.flowchart_brief أطرح وجهة نظرك فى البرزة المعروضه و ساعد فى الوصول لافضل النتائج
            .flowchart_arrow
              %img=image_tag "arrow.png"
            .flowchart_component
              %img.flowchart_img=image_tag "exp.png"
              %span.flowchart_title عبـر
              %span.flowchart_brief حتى يكون التعبير سمة من سمات التواصل بيننا و مفتاح النهوض ببلادنا
      / //-----------flowchart details---------//
      
      .row.flowchart-details
        .express-flowchart-details.flowchart-item-details
          %ul.wrapper.list-style-none
            %li.display-inline-block.top-vertical-align
              .cause
                %span.cause-paragraph
                  \صوت للمبادرة التى تستحق العرض للمناقشه من وجهة نظرك
                .button-div
                  %span.cause-button
                    %a.button{href: "causes.html"} إدعم مبادرة
            %li.display-inline-block.top-vertical-align.flowchart-items-separator
              =image_tag "flowchart-items-separator.png"
              %li.display-inline-block.top-vertical-align
                .cause
                  %span.cause-paragraph
                    \أطرح وجهة نظرك فى البرزة المعروضة و ساعد فى الوصول لأفضل النتائج
                  .button-div
                    %span.cause-button
                      = link_to('ابدأ مبادرة',{:controller => 'initiatives', :action => 'new'})
          .communicate-flowchart-details.flowchart-item-details.hidden
            %ul.wrapper.list-style-none
              %li.display-inline-block.top-vertical-align
                .hangout
                  %span.hangout-title البرزة القادمة
                  %span.hangout-paragraph
                    \معالى/الشيخ حمدانبن مبارك ال نهيان
                    %br/
                    \وزير التعليم العالى و البحث العلمى
                    %br>/
                    \وتمت مناقشه مبادرة تطويرالاشغال العامة بدبى
                  %span.hangout-img
                    =image_tag "profilePic.png"
              %li.display-inline-block.top-vertical-align.flowchart-items-separator
                =image_tag "flowchart-items-separator.png"
                %li.display-inline-block.top-vertical-align
                  .hangout
                    %span.hangout-title البرزة الماضيه
                    %span.hangout-paragraph
                      \معالى/الشيخ حمدانبن مبارك ال نهيان
                      %br>/
                      \وزير الاشغال العامة
                      %br>/
                      \وتمت مناقشه مبادرة تطويرالاشغال العامة بدبى
                    %span.hangout-img
                      =image_tag "profilePic.jpg"
            .participate-flowchart-details.flowchart-item-details.hidden
              .wrapper
                .final-results
                  %span.depend
                    %span.final-results-title واعتمد هذاالقرار من
                    %span.final-results-paragraph
                      \معالى/الشيخ حمدانبن مبارك ال نهيان
                      %br>/
                      \وزير الاشغال العامة
                    %span.final-results-img
                      =image_tag "profilePic.jpg"
                  %span.final
                    %span.final-results-title أخر النتائج
                    %span.final-results-sub-title بمناقشة مبادرة بناء اكبر صرح تعليمى بالمنطقة تم الاتفاق على التالى
                    %span.final-results-paragraph
                      \لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية
                      \هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. ك
                      \ان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر ع
                      \ندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائ
          / //-----------left sidebar---------//
          .row
            .col-md-1
            .col-md-4.left-sidebar
              %br
              %br
              .main_title.active_title برزات قادمة
              %img.home-calendar=image_tag "calendar.png"

                
            .col-md-6.latest-causes
              .inner_menu
                .main_title مبادرات الاصدقاء
                .top-causes-separetor
                  =image_tag "top-causes-separetor.png"
                .main_title.active_title أحدث المبادرات
              - @initiatives.each do |initiative|
                .row
                  .col-md-12
                    .cause_block
                      .col-md-9
                        .col-md-12
                          .box-count
                            %span 45 يوم متبقي
                            %br
                            %span.green-font.title-font 12548
                            %br
                            %span.green-font شخص دعم المبادرة
                          .box-content
                            .box-title
                              .title-font.green-font 
                              #{link_to(initiative.title[0, 45], {:controller => 'initiatives', :action => 'show', :id => initiative.id  })}
                              %div
                                مبارده في
                                #{link_to(initiative.sector.name, {:controller => 'initiatives' ,:action => "list", :searchSector => initiative.sector})}
                                \- بأمارة
                                #{link_to(initiative.region.name, {:controller => 'initiatives' ,:action => "list", :searchRegion => initiative.region})}
                        .box-content-paragraph
                          %span
                            #{initiative.description[0, 120]}
                          #{link_to("...المزيد", {:controller=>'initiatives',:action => 'show', :id => initiative.id  })}
                      .col-md-3
                        .box-img



              .pagination_block
                %ul.pagination
                  %li.disabled
                    %a{href: "#"}
                      %strong <
                  %li.active
                    %a{href: "#"}
                      1
                      %span.sr-only (current)
                  %li
                    %a{href: "#"} 2
                  %li
                    %a{href: "#"} 3
                  %li
                    %a{href: "#"} 4
                  %li
                    %a{href: "#"} 5
                  %li.disabled
                    %a{href: "#"}
                      %strong >
              