/ //-----------Main Content Area ---------//
/ //-----------flowchart---------//
%html
  %body
    %div
      .row.flowchart
        .col-md-1
        .col-md-10.main_flowchart
          .col-md-1
          .flowchart_container.col-md-10
            .flowchart_component
              %img.flowchart_img=image_tag "part.png"
              %span.flowchart_title شارك
              %span.flowchart_brief فى نهضة البلد و تابع نتائج البرزات المقدمه المشكلة كلها هنا  يامعلم
            .flowchart_arrow
              %img=image_tag "arrow.png"
            .flowchart_component
              %img.flowchart_img=image_tag "comm.png"
              %span.flowchart_title تواصل
              %span.flowchart_brief أطرح وجهة نظرك فى البرزة المعروضه و ساعد فى الوصول لافضل النتائج
            .flowchart_arrow
              %img=image_tag "arrow.png"
            .flowchart_component
              %img.flowchart_img=image_tag "exp.png"
              %span.flowchart_title عبـر
              %span.flowchart_brief حتى يكون التعبير سمة من سمات التواصل بيننا و مفتاح النهوض ببلادنا
      / //-----------flowchart details---------//
      
      .row.flowchart-details
        .express-flowchart-details.flowchart-item-details
          %ul.wrapper.list-style-none
            %li.display-inline-block.top-vertical-align
              .cause
                %span.cause-paragraph
                  \صوت للمبادرة التى تستحق العرض للمناقشه من وجهة نظرك
                .button-div
                  %form{action: "/initiatives/list"}
                    %input{type:"submit",value: "إدعم مبادرة", class: "cause-button"}
            %li.display-inline-block.top-vertical-align.flowchart-items-separator
              =image_tag "flowchart-items-separator.png"
              %li.display-inline-block.top-vertical-align
                .cause
                  %span.cause-paragraph
                    \أطرح وجهة نظرك فى البرزة المعروضة و ساعد فى الوصول لأفضل النتائج
                  .button-div
                    %form{action: "/initiatives/new"}
                      %input{type:"submit",value: "إبدأ مبادرة", class: "cause-button"}
                      
          .communicate-flowchart-details.flowchart-item-details.hidden
            %ul.wrapper.list-style-none
              %li.display-inline-block.top-vertical-align
                .hangout
                  %span.hangout-title البرزة القادمة
                  %span.hangout-paragraph
                    \معالى/الشيخ حمدانبن مبارك ال نهيان
                    %br/
                    \وزير التعليم العالى و البحث العلمى
                    %br>/
                    \وتمت مناقشه مبادرة تطويرالاشغال العامة بدبى
                  %span.hangout-img
                    =image_tag "profilePic.png"
              %li.display-inline-block.top-vertical-align.flowchart-items-separator
                =image_tag "flowchart-items-separator.png"
                %li.display-inline-block.top-vertical-align
                  .hangout
                    %span.hangout-title البرزة الماضيه
                    %span.hangout-paragraph
                      \معالى/الشيخ حمدانبن مبارك ال نهيان
                      %br>/
                      \وزير الاشغال العامة
                      %br>/
                      \وتمت مناقشه مبادرة تطويرالاشغال العامة بدبى
                    %span.hangout-img
                      =image_tag "profilePic.jpg"
            .participate-flowchart-details.flowchart-item-details.hidden
              .wrapper
                .final-results
                  %span.depend
                    %span.final-results-title واعتمد هذاالقرار من
                    %span.final-results-paragraph
                      \معالى/الشيخ حمدانبن مبارك ال نهيان
                      %br>/
                      \وزير الاشغال العامة
                    %span.final-results-img
                      =image_tag "profilePic.jpg"
                  %span.final
                    %span.final-results-title أخر النتائج
                    %span.final-results-sub-title بمناقشة مبادرة بناء اكبر صرح تعليمى بالمنطقة تم الاتفاق على التالى
                    %span.final-results-paragraph
                      \لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية
                      \هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. ك
                      \ان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر ع
                      \ندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائ
          / //-----------left sidebar---------//
          .row
            .col-md-1
            .col-md-4.left-sidebar
              %br
              %br 
              .main_title.active_title ابحث عن مبادرة
              .col-md-12
                %form{action: "/initiatives/list"}
                  %input.btn-default.search-btn{type: "submit", value: "ابحث"}
                  %input.search-box.green-font{name: "search_all", type: "text"} 
                %br
              .green-font.main_title 
                #{link_to("البحث المتقدم", {:controller => 'initiatives' ,:action => "search"})}
             
              %br
              .main_title.active_title برزات قادمة
              %img.home-calendar=image_tag "calendar.png"


              .tweets
                .col-md-12
                  .col-md-12
                    .tweets_header
                      %span.social-media-icon
                        %a{href: "http://www.facebook.com"}
                          =image_tag "fb-icon.png"
                      %span.social-media-icon
                        %a{href: "http://www.twitter.com"}
                          =image_tag "twitter-icon.png"
                      %span.sub_title
                        تحديثات الهيئات الحكومية
                      %span.sub_paragraph
                        تحديثات الهيئات الحكومية تحديثات الهيئات الحكومية تحديثات الهيئات الحكومية تحديثات الهيئات الحكومية
                  
                    .col-md-12.bottom-boreded
                      .tweets_block
                        .tweeter_profile_img
                          =image_tag "profilePic.jpg"
                        .tweet_info
                          %span.tweeter_name
                            Islam Askar
                          %span.tweet_time
                            5h
                        %span.tweet_paragraph
                          تحديثات الهيئات الحكومية تحديثات الهيئات الحكومية تحديثات الهيئات الحكومية تحديثات الهيئات الحكومية
                  
                    .col-md-12.bottom-boreded
                      .tweets_block
                        .tweeter_profile_img
                          =image_tag "part.png"
                        .tweet_info
                          %span.tweeter_name
                            True Company
                          %span.tweet_time
                            1d
                        %span.tweet_paragraph
                          تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد تغريد
                  
                    .col-md-12
                      .tweets_footer
                        .tweets_footer_icon
                          %a{href: ""}
                            =image_tag "live.png"
                        %span.sub_title
                          تواصل مع المسئولين مباشرة
                        %span.sub_paragraph
                          تعرف على الحسابات المعتمده للمسئولين بالحكومة
              
              
                     
            .col-md-6.latest-causes
              .inner_menu
                .main_title 
                  - if @friend_initiative == true
                    .main_title.active_title #{link_to("مبادرات الاصدقاء", {:controller => 'index' ,:action => "index", :friends_ids => current_user.id})}
                    .top-causes-separetor
                      =image_tag "top-causes-separetor.png"
                    .main_title #{link_to("احدث المبادرات", {:controller => 'index' ,:action => "index"})}
                  - else
                    .main_title #{link_to("مبادرات الاصدقاء", {:controller => 'index' ,:action => "index", :friends_ids => current_user.id})}
                    .top-causes-separetor
                      =image_tag "top-causes-separetor.png"
                    .main_title.active_title #{link_to("احدث المبادرات", {:controller => 'index' ,:action => "index"})}
                
              - @initiatives.each do |initiative|
                .row
                  .col-md-12
                    .cause_block
                      .col-md-9
                        .col-md-12
                          .box-count
                            %span
                              يوم متبقى
                            %span 
                              - initiative_time = (45 - ((Time.now - initiative.created_at) / (3600*24)).round)
                              = initiative_time
                              - if initiative_time == 0
                                - initiative.expired
                             
                            %br
                            %span.green-font.title-font 
                              = initiative.users.length
                            %br
                            %span.green-font.bold-font شخص دعم المبادرة
                          .box-content
                            .box-title
                              .title-font.green-font #{link_to(initiative.title[0, 35], {:controller => 'initiatives', :action => 'show', :id => initiative.id  })}
                              %div
                                مبارده في
                                #{link_to(initiative.sector.name, {:controller => 'initiatives' ,:action => "list", :sector_name => initiative.sector.name})}
                                \- بمحافظة
                                #{link_to(initiative.region.name, {:controller => 'initiatives' ,:action => "list", :region_name => initiative.region.name})}
                        .box-content-paragraph
                          %span
                            #{initiative.description[0, 120]}
                            %span.bold-font #{link_to("...المزيد", {:controller=>'initiatives',:action => 'show', :id => initiative.id  })}
                      .col-md-3  
                        .cause-wrapper-img
                          = image_tag initiative.image.url



              .row
                .col-md-3
                .col-md-8.padding-bottom.float-left
                  .digg_pagination
                    = will_paginate @initiatives, inner_window: 1, :container => true, :next_label => ">", :previous_label => "<"
          



        
       
