.col-md-12
	.col-md-3
	.col-md-8.padding-bottom

		.row.col-md-12
			.inner_menu
				- if @user.id == current_user.id
					.main_title.active_title 
						بياناتي	
				- else 
					.main_title البيانات الشخصيه 
		.row.col-md-12
			.col-md-3.profile_image
				= image_tag @user.image.url
				- if @user.id == current_user.id
					%form{action: "/users/edit"}
						.btn.red-btn
							%input{type: "hidden", name: "user_id",value: @user.id}
							%input{type: "submit",value: "تعديل البيانات"}
			.col-md-1
			.col-md-8.green-font-title-font
				.col-md-8
					.form-control.gray-text.result-font
						= @user.name
				.col-md-3.user-info-label.green-font.bold-font
					الاسم
				.col-md-8
					.form-control.result-font
						= @user.email
						
				.col-md-3.user-info-label.green-font.bold-font
					البريد الاكتروني
				
				.col-md-8
					.form-control.gray-text.result-font
						= @user.job_title
				.col-md-3.user-info-label.green-font.bold-font
					الوظيفة
				.col-md-8
					.form-control.gray-text.result-font	
						= @user.date_of_birth
				.col-md-3.user-info-label.green-font.bold-font
					تاريخ الميلاد
			
				.col-md-8
					.form-control.gray-text.result-font
						= @user.gender	
				.col-md-3.user-info-label.green-font.bold-font
					النوع
				.col-md-8
					.form-control.result-font
						= @user.national_id
				.col-md-3.user-info-label.green-font.bold-font
					الرقم القومي
				.col-md-8
					.form-control.gray-text.result-font
						=  @user.location
				.col-md-3.user-info-label.green-font.bold-font
					محل الاقامه
				.col-md-8
					.text-right.result-font
						= @user.initiatives.length
				.col-md-3.user-info-label.green-font.bold-font
					عدد المبادرات
				- if @user.id == current_user.id
					.col-md-10
						%form{action: "/users/list"}
							.btn.red-btn
								%input{type: "submit",value: "اصدقائي"}
				- elsif current_user.followed_users.exists?(@user.id)
					.col-md-10
						%form{action: "/users/unfollow"}
							.btn.red-btn
								%input{type: "hidden", name: "user_id",value: @user.id}
								%input{type: "submit",value: "احذف من الاصدقاء "}
				- else
					.col-md-10
						%form{action: "/users/follow"}
							.btn.red-btn
								%input{type: "hidden", name: "user_id",value: @user.id}
								%input{type: "submit",value: "اضف الي الاصدقاء"}

			.col-md-1
.row






      