%html
  %body
    %div
      .row
        .col-md-12.page-header-block
          .wrapper
            %span.green-font.big-title شـارك
            %span.gray-text فى نهضة البلاد وتابع نتائج البرزات القادمة
      .row
        .col-md-12.participate-flowchart-details.flowchart-item-details
          .wrapper
            - if Result.all.any? == false
              .row.final-results
                .col-md-4.depend
                  %span.final-results-title 
                  .decision-maker-info.col-md-8
                    %span.final-results-paragraph.bold-font لا يوجد نتائج 
                      

                .col-md-8.final
                  %span.final-results-title أخر النتائج
                  %span.final-results-sub-title
                    %span لا يوجد نتائج


                  %span.final-results-paragraph
                     
            - else
              .row.final-results
                .col-md-4.depend
                  %span.final-results-title واعتمد هذاالقرار من
                  .decision-maker-info.col-md-8
                    %span.final-results-paragraph.bold-font
                      = Result.last.decisionmakers[0].name
                      %br>/
                      = Result.last.decisionmakers[0].job  
 
                      
                  .final-results-img.col-md-4
                    = image_tag "atef-helmy.jpg"
                .col-md-8.final
                  %span.final-results-title أخر النتائج
                  %span.final-results-sub-title
                    %span :
                    بمناقشة 
                    = Result.last.initiatives[0].title
                    تم الاتفاق علي التالي 
          
        .col-md-12
          .col-md-2
          %form.col-md-8.result-form
            .main_title.active_title اصنع قرار لمبادرة
            %br
            .main_title.active_title اختر المبادرات المراد صنع لها القرار
            %br 
            - @initiatives.each do |initiative|
              .col-lg-6
                .input-group
                  %input.form-control.green-font.result-font{type: "text",value:  initiative.title }/
                  %span.input-group-addon
                    %input{type: "checkbox", name: "initiatives_ids[]", value: initiative.id }/
                %br

            .col-md-12
              .main_title.active_title اختر المسؤل عن صنع القرار
            .col-md-12.green-font.result-font
              = select_tag "decisionmaker_ids", options_for_select(@decisionmakers.collect{|u| [u.job, u.id]  }), class: 'form-control pull-right green-font result-font'
            .col-md-12
              .main_title.active_title حاله المبادرة
            .col-md-12.green-font.result-font
              = select_tag "state", options_for_select([["غلق المبادرة",1],["استمرار المبادرة",2]]), class: 'form-control pull-right green-font result-font'
            .col-md-12
              .main_title.active_title تفاصيل القرار
            .col-md-12
              %textarea.col-md-12.form-control{name: "decision"}
            .col-md-12
              %br
              %input.btn.btn-default.form-btn{type: "submit", value: "استمرار"}
              %br








    
