%html
  %body
    %div
      .row
        .col-md-12.page-header-block
          .wrapper
            %span.green-font.big-title شـارك
            %span.gray-text فى نهضة البلاد وتابع نتائج البرزات القادمة
      .row
        .col-md-12.participate-flowchart-details.flowchart-item-details
          .wrapper
            .row.final-results
              .col-md-4.depend
                %span.final-results-title واعتمد هذاالقرار من
                %span.final-results-paragraph
                  د/عاطف حلمي 
                  %br>/
                  وزير الاتصالات  
                %span.final-results-img
                  = image_tag "atef-helmy.jpg"
              .col-md-8.final
                %span.final-results-title أخر النتائج
                %span.final-results-sub-title بمناقشة مبادرة استعمال الهوية الالكترونية في الحضور والانصراف في المصالح الحكومية 
                %span.final-results-paragraph
                  تهدف هذة  المبادرة الي توفير الوقت في الحضور والانصراف داخل المصالح الحكومية عن طريق استعمال البطافات الذكية الاكترونية في الحضور والانصراف بمجرد دخول الموضف سيتم التعرف علية عن طريق الباطقة الاكترونية وبذلك يتم توفير الوقت 
      .row
        .col-md-12
          .wrapper
            .inner_menu
              .main_title.active_title نتائج المبادرات
            - @results.each do |result|
              - resultmaker = result.decisionmakers.where(result_id = result.id).all[0] 
              .row.cause-result-wrapper
                .col-md-6.cause-result-item
                  .row
                    .col-md-10
                      .timeline-item-supporter
                        .green-font.timeline-item-supporter-title
                          معالي / #{resultmaker.name}
                        .green-font.timeline-item-supporter-sub-title
                          = resultmaker.job
                        .light-text.timeline-item-supporter-sub-date
                          تاريخ 
                          = result.updated_at.to_time.strftime('%A %e %B %Y')
                          = ((Time.now - result.updated_at) / 3600).round
                    .col-md-2
                      .timeline-item-supporter-img
                        = image_tag "ibrahim.jpg"
                  .timeline-item-details.gray-text
                    .green-font
                      تفاصيل القرار
                    = result.decision
                - initiative_data1 = result.initiatives.where(result_id = result.id).all
                - initiative_data1.each do |initiative_data|
                  .col-md-6.cause-result-item
                    .row
                      .col-md-9
                        .green-font.timeline-item-supporter-title
                          #{link_to(initiative_data.title, {:controller => 'initiatives' ,:action => "show", :id => initiative_data.id})}
                        .timeline-item-supporter-sub-title.gray-text
                          مبادرة في 
                          %span.green-font 
                            #{link_to(initiative_data.sector.name, {:controller => 'initiatives' ,:action => "list", :sector_name => initiative_data.sector.name})}
                          \- بمحافظة
                          %span.green-font 
                            #{link_to(initiative_data.region.name, {:controller => 'initiatives' ,:action => "list", :region_name => initiative_data.region.name})}
                        .timeline-item-details.gray-text
                          = initiative_data.description[0, 150]
                      .col-md-3
                        .cause-result-img
                          = image_tag initiative_data.image.url
                        .green-font.title-font 333,333
                        .light-green-font.cause-result-sub-title
                          شخص دعم المبادرة



            .row
              .col-md-12
                .pagination_block
                  %ul.pagination
                    %li.disabled
                      %a{href: "#"}
                        %strong <
                    %li.active
                      %a{href: "#"}
                        1
                        %span.sr-only (current)
                    %li
                      %a{href: "#"} 2
                    %li
                      %a{href: "#"} 3
                    %li
                      %a{href: "#"} 4
                    %li
                      %a{href: "#"} 5
                    %li.disabled
                      %a{href: "#"}
                        %strong >
      / //-----------Footer ---------//
    / End of div container




