!!!
%html
  %head
    %title تواصل | الامارات العربية المتحدة
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Bootstrap 101 Template
    /
      Bootstrap
    %link{href: "../../assets/stylesheets/bootstrap.min.css", rel: "stylesheet"}/
  %body
    %p
      \/
      = succeed "/" do
        %link{href: "../../assets/stylesheets/component.css", rel: "stylesheet"}/
      /
        HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      /
        WARNING: Respond.js doesn't work if you view the page via file://
      /
        [if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    /
      result
    - @results.each do |result|
      - resultmakers = result.decisionmakers
      - resultmakers.each do |resultmaker|
        .result.col-md-9.content-border
          .content.col-md-6.content-partial.right-border
            .result-person-detail.col-md-12
              .result-person-info.col-md-12
                .col-md-10.width-80
                  .col-md-12.result-font
                    %span.col-md-12.green-font.bold-font
                      معالي /  #{resultmaker.name}
                    %br/
                    %span.col-md-12.green-font
                      = resultmaker.job
                    .col-md-12
                      %span.gray-font.small-font بتاريخ
                      %span.gray-font.small-font
                        = result.updated_at
                .note-img.col-md-2
                  = resultmaker.pic
              .result-person-decision.col-md-12.gray-font
                = result.decision
          - initiatives_data = result.initiatives
          - initiatives_data.each do |initiative_data|
            .content.col-md-6.content-partial
              .result-person-detail.col-md-12
                .col-md-7.width-65
                  .result-topic-title.col-md-12.box-title
                    .col-md-12.title-font.green-font
                      = initiative_data.title
                    .col-md-12.gray-font
                      مبارده في
                      %a
                        = initiative_data.sector.name
                      بأمارة
                      %a
                        = initiative_data.region.name
                    .result-topic-content.col-md-12.gray-font
                      = initiative_data.description
                .col-md-5.width-35
                  .box-img.col-md-12
                    = image_tag initiative_data.image.url
                  .count-box.col-md-12
                    %span.green-font.col-md-12.title-font
                    %span.green-font.col-md-12.date-font شخص دعم المبادرة
        %div
        /
          jQuery (necessary for Bootstrap's JavaScript plugins)
        %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
        /
          Include all compiled plugins (below), or include individual files as needed
        %script{src: "js/bootstrap.min.js"}