.row
  .col-md-5
  .col-md-6.green-font.text-right.title-font
    .main_title.active_title تسجيل الدخول
    %br
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.green-border
        = f.label :"البريد الالكتروني"
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :"كلمة المرور"
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        %div
          = f.label :"تذكرني"
          = f.check_box :remember_me
        .btn.form-btn  
          = f.submit "تسجيل الدخول"
    = render "devise/shared/links"